.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B1C3D;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 10;
  }

  .nav-left {
    display: flex;
    align-items: center;
  }

  .logo {
    position: absolute;
    top:-25px;
    left: 10px;
    height: 150px;
    width: auto;
    margin-right: 6px;
  }

.nav-right a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 18.4px;
    margin-left: 45px;
    transition: color 0.3s, transform 0.3s;
  }

  .nav-right a:hover {
    color: #d08025;
    transform: scale(1.05);
  }

  .nav-right .btns {
    background-color: #d08025;
    color: #0B1C3D;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 600;
  }

  .nav-right .btns:hover {
    background-color: #f5f5f5;
    color: #0B1C3D;
  }
  
    body {
      margin: 0;
      font-family: 'Times New Roman', Times, serif;
      background-color: #0B1C3D;
        z-index: 0;
    }

   

    #slogan {
      position: absolute;
      top:10%;
      left: 10px;
      font-size: 50px;
      width: 40%;
      padding: 20px;
      z-index: 2;
      color: #d08025 
    }
    .logo:hover,
    .get-started-button:hover{
      transform: scale(1.05);
      transition: transform 0.3s;
    }
    .team-button:hover,
   .customer-button:hover,
   .plans-button:hover,
   .about-button:hover{
    background-color: #4740a7;
    transform: scale(1.05);
      transition: transform 0.3s;
  }
 
  
  .get-started-button img{
    width: 400px;
    height: auto;     
    z-index: 3;
  }
  .get-started-button{
    position: absolute;
    top: 60%;
    left: 25%;
    z-index: 3;
  }

#bottomBar {
  position: fixed;
  bottom: -250px; /* caché au départ */
  left: 0;
  width: 100%;
  background-color: #0B1C3D;
  color: #f5f5f5;
  text-align: left;
  transition: bottom 0.5s ease;
  z-index: 100;
  border-top: 4px solid #d08025;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-content h3 {
  color: #d08025;
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-content p,
.footer-content ul {
  font-size: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-content a {
  color: #f5f5f5;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-content a:hover {
  color: #d08025;
}

    .image-container {
      position: absolute;
      top: 55%;
      right: 0;
      width: 600px;
      padding: auto;
      overflow: hidden;
      transform: translateY(-50%);
      border-radius: 20px;
        z-index: 9;
    }

    .image-container img {
      width: 100%;
      height: auto;
      display: block;
    }
  
